body{
    padding: 0;
    margin: 0;
    height: 500px;
    width: 800px;
}
div:nth-child(1) {
   
    width: 50%;
    height: 50%;
    background-color: yellowgreen;
}
div:nth-child(2) {
    width: 50%;
    height: 50%;
    background-color: forestgreen;
}